.toolbar {
  font-size: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 0.125rem;
}

.toolbarItem {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.125rem;
}

.toolbarButton {
  height: 3rem;
  border: 0 none;
  box-sizing: border-box;
  border: 1px solid transparent;
  display: inline-block;
}

.toolbarButton:hover {
  cursor: pointer;
}

.toolbarButton:active,
.toolbarButton.on {
  background-color: silver;
  border-top: solid black 1px;
  border-left: solid black 1px;
}

.toolbarImageButton {
  width: 3rem;
  padding: 0.25rem;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
}
.toolbarImageButton.toolbarTextButton {
  width: auto;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  background-size: 2rem;
  background-position: 0.5rem 0.5rem;
  background-origin: border-box;
}

.toolbarTextButton {
  font-size: 1.5rem;
}
